body{

margin:0;
font-family:Arial;
background:#0b1f44;
color:white;

}

nav{

display:flex;
justify-content:space-between;
padding:20px;
background:#081633;

}

nav a{

color:white;
margin-left:20px;
text-decoration:none;

}

.hero{

text-align:center;
padding:120px;

}

.hero h1{

font-size:60px;
color:gold;

}

button{

background:gold;
border:none;
padding:15px 30px;
font-size:16px;
cursor:pointer;

}
section{
max-width:1200px;
margin:auto;
}

footer{
background:#081633;
padding:40px;
text-align:center;
margin-top:100px;
}

.card{
background:#081633;
padding:30px;
border-radius:10px;
}